body.vertical {
  background-image: url('bg2.png') ;
}

body.demeter {
  background-image: url('bg3.png');
  animation-name: winter;
  animation-duration: 4s;
}

@keyframes winter {
  from {background-image: url('bg1.png');}
  to {background-image: url('bg3.png');}
}

.persephone1 {
	left: 550px;
	top: 100px;
	bottom: 0px;
	right: 0px;
	position: fixed;
}

.sun {
  position: absolute;
  left: 1300px;
  top: 1700px;
}

.one {
	background: url('bg1.png') ;
}

.two {
	background: url('bg1.png') ;
}

.three {
	background: url('bg1.png') ;
}

.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.land {
  left: 1300px;
  top: 250px;
  position: absolute;
  animation-name: landslide;
  animation-duration: 4s;
}

.hades1 {
  top: 1800px;
  left: 1000px;
  position: absolute;
  animation-name: hades;
  animation-duration: 6s;
  opacity: 0%;
}

.persephone2 {
  left: 800px;
  top: 2000px;
  bottom: 0px;
  right: 0px;
  position: fixed;
  animation-name: persephone1;
  animation-duration: 6s;
}

@keyframes landslide {
  from {left: 950px;}
  to {left: 1300px;}
}

@keyframes hades {
  0% {
    top: 1000px;
    left: 900px;
    opacity: 100%;
  }
  50% {
    top: 230px;
   left: 900px;
   opacity: 100%;
  }
  67% {
    top: 230px;
    left: 700px;
    opacity: 100%;
  }
  82% {
    top: 230px;
    left: 1000px;
    opacity: 100%;
  }
  100% {
    top: 5000px;
    left: 1000px;
    opacity: 100%;
  }
}

@keyframes persephone1 {
  0% {
    top: 100px;
    left: 550px;
  }
  67% {
    top: 100px;
    left: 550px;
  }
  82% {
    top: 100px;
    left: 800px;
  }
  100% {
    top: 5000px;
    left: 800px;
  }
}
